
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body class="mat-typography" class="login">
  <div style="background-color: #CF682F;height: 20px;"></div>
  <div class="container">
    <div class="row formstyle"  style="justify-content: center;">
      <div class="col-lg-4 text-center my-auto">  
      <div class="mb-3" >
        <img src="/assets/images/logoipsum.png" alt="image" style="height:100px;">
      </div>     
      <div class="" >
    
        <mat-form-field appearance="outline" >
          <div class="d-flex">
            <img src="/assets/images/user.png" alt="image" class="icostyle">
            <input matInput placeholder="User Name" class="formfieldstyle">
          </div>
        </mat-form-field>
    
      </div>
      <div> 
        <mat-form-field appearance="outline">  
          <div class="d-flex">
            <img src="/assets/images/pass.png" alt="image" class="icostyle">  
          <input matInput placeholder="Password" class="formfieldstyle">
          </div>
        </mat-form-field>
    
      </div> 
      <div class="text-center">
        <button
        mat-raised-button
    
 class="text-center submitbtn">SIGN IN</button>
      </div> 
      <div class="text-center">
        <p class="text-center mt-2">Forgot Password?</p>
      </div> 
     <div class="row justify-content-center">
      <div class="col-lg-1">
        <img src="/assets/images/flat.png" alt="image" class="imgstyle"> 
         </div>
         <div class="col-lg-1">
          <img src="/assets/images/linkedin.png" alt="image" class="imgstyle"> 
           </div>
           <div class="col-lg-1">
            <img src="/assets/images/twitter.png" alt="image" class="imgstyle"> 
             </div>
     </div > 
       
        
       
    </div>
      </div>
      <p class="text-center mt-2">© Copyright Dyaz Innovate 2023. All rights reserved.</p>
    </div>
  

 
</body>
</html>

